---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Bariol Bold';
  src: url("/fonts/bariol/Bariol_Bold.eot");
  src: url("/fonts/bariol/Bariol_Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Bold.woff") format('woff'), url("/fonts/bariol/Bariol_Bold.ttf") format('truetype'), url("/fonts/bariol/Bariol_Bold.svg#Bariol_Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Regular';
  src: url("/fonts/bariol/Bariol_Regular.eot");
  src: url("/fonts/bariol/Bariol_Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Regular.woff") format('woff'), url("/fonts/bariol/Bariol_Regular.ttf") format('truetype'), url("/fonts/bariol/Bariol_Regular.svg#Bariol_Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Light';
  src: url("/fonts/bariol/Bariol_Light.eot");
  src: url("/fonts/bariol/Bariol_Light.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Light.woff") format('woff'), url("/fonts/bariol/Bariol_Light.ttf") format('truetype'), url("/fonts/bariol/Bariol_Light.svg#Bariol_Light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Thin';
  src: url("/fonts/bariol/Bariol_Thin.eot");
  src: url("/fonts/bariol/Bariol_Thin.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Thin.woff") format('woff'), url("/fonts/bariol/Bariol_Thin.ttf") format('truetype'), url("/fonts/bariol/Bariol_Thin.svg#Bariol_Thin") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Bold Italic';
  src: url("/fonts/bariol/Bariol_Bold_Italic.eot");
  src: url("/fonts/bariol/Bariol_Bold_Italic.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Bold_Italic.woff") format('woff'), url("/fonts/bariol/Bariol_Bold_Italic.ttf") format('truetype'), url("/fonts/bariol/Bariol_Bold_Italic.svg#Bariol_Bold_Italic") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Regular Italic';
  src: url("/fonts/bariol/Bariol_Regular_Italic.eot");
  src: url("/fonts/bariol/Bariol_Regular_Italic.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Regular_Italic.woff") format('woff'), url("/fonts/bariol/Bariol_Regular_Italic.ttf") format('truetype'), url("/fonts/bariol/Bariol_Regular_Italic.svg#Bariol_Regular_Italic") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Light Italic';
  src: url("/fonts/bariol/Bariol_Light_Italic.eot");
  src: url("/fonts/bariol/Bariol_Light_Italic.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Light_Italic.woff") format('woff'), url("/fonts/bariol/Bariol_Light_Italic.ttf") format('truetype'), url("/fonts/bariol/Bariol_Light_Italic.svg#Bariol_Light_Italic") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bariol Thin Italic';
  src: url("/fonts/bariol/Bariol_Thin_Italic.eot");
  src: url("/fonts/bariol/Bariol_Thin_Italic.eot?#iefix") format('embedded-opentype'), url("/fonts/bariol/Bariol_Thin_Italic.woff") format('woff'), url("/fonts/bariol/Bariol_Thin_Italic.ttf") format('truetype'), url("/fonts/bariol/Bariol_Thin_Italic.svg#Bariol_Thin_Italic") format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables

$base-font-size:   18px;
$base-line-height: 20px;

$thin-font: 'Bariol Thin', "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font: 'Bariol Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$regular-font: 'Bariol Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font: 'Bariol Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;

$thin-italic-font: 'Bariol Thin Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-italic-font: 'Bariol Light Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$normal-italic-font: 'Bariol Regular Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-italic-font: 'Bariol Bold Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit:     20px;
$site-width:       1024px;

$responsive-menu-height: 86px;
$sub-menu-height: 34px;

$text-color:       #696969;
$background-color: white;

$primary-color:    #1babe0;
$secondary-color:  white;
$tertiary-color:   black;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "general",
        "header",
        "menu",
        "content",
        "grid",
        "text-images-video",
        "commerce",
        "footer"
;
