---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'IBMPlexSans Bold';
  src: url("/fonts/plex/IBMPlexSans-Bold.eot");
  src: url("/fonts/plex/IBMPlexSans-Bold.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-Bold.woff") format('woff'), url("/fonts/plex/IBMPlexSans-Bold.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-Bold.svg#IBMPlexSans-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Regular';
  src: url("/fonts/plex/IBMPlexSans-Regular.eot");
  src: url("/fonts/plex/IBMPlexSans-Regular.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-Regular.woff") format('woff'), url("/fonts/plex/IBMPlexSans-Regular.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-Regular.svg#IBMPlexSans-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Light';
  src: url("/fonts/plex/IBMPlexSans-Light.eot");
  src: url("/fonts/plex/IBMPlexSans-Light.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-Light.woff") format('woff'), url("/fonts/plex/IBMPlexSans-Light.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-Light.svg#IBMPlexSans-Light") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Thin';
  src: url("/fonts/plex/IBMPlexSans-Thin.eot");
  src: url("/fonts/plex/IBMPlexSans-Thin.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-Thin.woff") format('woff'), url("/fonts/plex/IBMPlexSans-Thin.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-Thin.svg#IBMPlexSans-Thin") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Bold Italic';
  src: url("/fonts/plex/IBMPlexSans-BoldItalic.eot");
  src: url("/fonts/plex/IBMPlexSans-BoldItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-BoldItalic.woff") format('woff'), url("/fonts/plex/IBMPlexSans-BoldItalic.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-BoldItalic.svg#IBMPlexSans-BoldItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Regular Italic';
  src: url("/fonts/plex/IBMPlexSans-RegularItalic.eot");
  src: url("/fonts/plex/IBMPlexSans-RegularItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-RegularItalic.woff") format('woff'), url("/fonts/plex/IBMPlexSans-RegularItalic.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-RegularItalic.svg#IBMPlexSans-RegularItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Light Italic';
  src: url("/fonts/plex/IBMPlexSans-LightItalic.eot");
  src: url("/fonts/plex/IBMPlexSans-LightItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-LightItalic.woff") format('woff'), url("/fonts/plex/IBMPlexSans-LightItalic.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-LightItalic.svg#IBMPlexSans-LightItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans Thin Italic';
  src: url("/fonts/plex/IBMPlexSans-ThinItalic.eot");
  src: url("/fonts/plex/IBMPlexSans-ThinItalic.eot?#iefix") format('embedded-opentype'), url("/fonts/plex/IBMPlexSans-ThinItalic.woff") format('woff'), url("/fonts/plex/IBMPlexSans-ThinItalic.ttf") format('truetype'), url("/fonts/plex/IBMPlexSans-ThinItalic.svg#IBMPlexSans-ThinItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}

// Variables

$base-font-size:   18px;
$base-line-height: 20px;

$thin-font: 'IBMPlexSans Thin', "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-font: 'IBMPlexSans Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$regular-font: 'IBMPlexSans Regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font: 'IBMPlexSans Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;

$thin-italic-font: 'IBMPlexSans Thin Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$light-italic-font: 'IBMPlexSans Light Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$normal-italic-font: 'IBMPlexSans Regular Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-italic-font: 'IBMPlexSans Bold Italic', "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit:     20px;
$site-width:       1024px;

$responsive-menu-height: 86px;
$sub-menu-height: 34px;

$text-color:       #696969;
$background-color: #ddd;

$primary-color:    #1babe0;
$secondary-color:  white;
$tertiary-color:   black;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "general",
        "header",
        "menu",
        "content",
        "grid",
        "text-images-video",
        "commerce",
        "footer"
;
