<footer>
    <h2 class="hidden">Footer</h2>   
	<div id="footerwrapper">
	<div id="footercontent">
		<section id="copyright">
            <h3 class="hidden">copyright</h3>
            <span>Copyright &copy; 2012-
            	<script language="JavaScript" type="text/javascript">
					<!--
						var today = new Date();
						var year = today.getFullYear();
						document.write(year);
					//-->
				</script> 
            <a href="http://www.michielkauwatjoe.com">Michiel Kauw-A-Tjoe</a>.<br>All Rights Reserved.
        </section>
	</div>
	</div>
</footer>

<script src="{{ site.baseurl }}/js/lightbox-plus-jquery.min.js"></script>
