<head>
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="google-site-verification" content="xkAOrrpWLQfnf6ROsO-1UyfHGAxgrJ3pIQ_os16RnIE" />
    <link rel="shortcut icon" href="{{site.bucket}}/gao.ico"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/lightbox.min.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script src="{{ site.baseurl }}/js/prefixfree.min.js"></script>
    <script src="{{ site.baseurl }}/js/ga.js"></script>
    <script type="text/javascript">
        function changeImage(a) {
                document.getElementById("gallerymain").src=a;
        }
    </script>
    <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Michiel Kauw-A-Tjoe",
  "url": "http://www.michielkauwatjoe.com",
  "sameAs": [
    "http://instagram.com/michielkauwatjoe",
    "http://www.twitter.com/in/mwkauwatjoe",
    "http://michielkauwatjoe.tumblr.com",
    "http://www.linkedin.com/in/michielkauwatjoe",
    "http://plus.google.com/+Michielkauwatjoe1"
  ]
}
    </script>
</head>
