<script language="JavaScript" type="text/javascript">
<!--
var string3 = "gomiy";
var string1 = "&#46;com";
var string2 = "&#64;";
var string4 = "ama";
var string5 = "in";
var string6 = "<img src=\"{{site.bucket}}/images/icon-ma";
var string7 = "ref=";
var string8 = "<a h";
var string9 = "il.svg\">";
var string10 = "fo";
document.write(string8 + string7 + "mai" + "lto:" + string5 + string10 + string2 + string3 + string4 + string1 + ">" + string6 + string9 + "<span>" + string5 + string10 + string2 + string3 + string4 + string1 + "</span>" + "</a>");
//-->
</script>
