<section id="menu">
	<div id="menucontent">
	
		<div id="menucontent1">
			{% if page.artist.name == 'Michiel Kauw-A-Tjoe' %}
			<div class="menuitem"><a href="{{ site.baseurl }}/"><h2>works</h2></a></div>
			<div class="menuitem"><a href="{{ site.baseurl }}/about/"><h3>about</h3></a></div>
			{% elsif page.menu == 'works' %}
			<div class="menuitem"><a href="{{ site.baseurl }}/"><h2>works</h2></a></div>
			<div class="menuitem"><a href="{{ site.baseurl }}/about/"><h3>about</h3></a></div>
			{% else page.menu == 'about' %}
			<div class="menuitem"><a href="{{ site.baseurl }}/"><h3>works</h3></a></div>
			<div class="menuitem"><a href="{{ site.baseurl }}/about/"><h2>about</h2></a></div>
			{% endif %}
		</div>
		
		<div id="menucontent2">
			<div id="menubutton"><img src ="{{site.bucket}}/images/menubutton.svg"></div>
 		</div>
		
		<div id="menuanimate">

			<div id="menucontent3">
				{% if page.artist.name == 'Michiel Kauw-A-Tjoe' %}
				<a href="{{ site.baseurl }}/artists/michiel-kauw-a-tjoe/"><h8>Michiel Kauw-A-Tjoe<h8></a>
				{% else %}
				<a href="{{ site.baseurl }}/artists/michiel-kauw-a-tjoe/"><h9>Michiel Kauw-A-Tjoe<h9></a>
				{% endif %}
 			</div>
 			
 		</div>
 		
	</div>
</section>

<section id="pagemover"></section>

<!--div id="submenu">
	<div id="submenucontent">
		{% if page.artist.name == 'Michiel Kauw-A-Tjoe' %}
		<a href="{{ site.baseurl }}/artists/michiel-kauw-a-tjoe/"><h4>Michiel Kauw-A-Tjoe</h4></a>
		{% elsif page.menu == 'works' %}
		<a href="{{ site.baseurl }}/artists/michiel-kauw-a-tjoe/"><h7>Michiel Kauw-A-Tjoe</h7></a>
		{% else page.menu == 'about' %}
		&nbsp;
		{% endif %}
	</div>
</div-->

<section id="contentmover"></section>
