<section id="menu">
	<div id="menucontent">
	
		<div id="menucontent1">
			<div class="menuitem"><a href="{{ site.baseurl }}/index.html"><h3>about</h3></a></div>
			<div class="menuitem"><a href="{{ site.baseurl }}/graphics.html"><h2>graphics</h2></a></div>
			<!--div class="menuitem"><a href="{{ site.baseurl }}/recordings.html"><h2>recordings</h2></a></div>
			<div class="menuitem"><a href="{{ site.baseurl }}/broadcasts.html"><h2>broadcasts</h2></a></div-->
		</div>
	</div>
</section>

<section id="pagemover"></section>

<section id="contentmover"></section>
