/* commerce */

.product-name	{
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 3px;
    }

.product-size	{
	font-size: 12px;
    }

.product-in-stock	{
	font-size: 12px;
	}

.product-out-stock	{
	font-size: 12px;
	}

.product-ask	{
	font-size: 12px;
	}

.pricelist	{
	padding-bottom: $spacing-unit;
	}
