/* masthead */

#masthead  {
    display: block;
    overflow: hidden;
    width: 100%;
    max-height: 50px;
    background-color: $secondary-color;
    position: fixed;
    z-index: 2;
    background-image: url('http://bucket.michielkauwatjoe.com.s3.amazonaws.com/1500x500.jpg');
    }

#mastcontent {
    width: auto;
    max-width: $site-width;
    margin: 0 auto;
    padding: 0 20px;
    }

#logo {
    display: block;
    float: left;
    height: 50px;
    } 

#logo a img {
    display: block;
    height: 30px;
    padding: 10px 0;
    }
